<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Longrich</title>
  </head>
  <body>
  

  <div class="content">
    
    <div class="container">
      <h2 class="my-5 text-center">LYNLONGRICH</h2>
    </div>


    <div class="site-section bg-left-half mb-5">
      <div class="container owl-2-style">
        
        <h2 class="text-primary py-5 ">Available Products</h2>
        

        <div class="owl-carousel owl-2">
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/1.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">SHEEP PLACENTA EXTRACT SOD MILK</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/3.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">REJUVENATING BODY LOTION</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/4.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">ANTIPERSPIRANT DEW</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/5.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">SNAKE OIL</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/6.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">SHEEP PLACEMENT SOD MILK</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/7.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">BRIGHTENING HAND CREAM</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/8.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">WHITE TEA MULTI EFFECT TOOTHPASTE</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/10.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">MOUTH FRESHENER</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/9.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">LONGRICH ALKALINE WATER PI CUP</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/12.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">CLASSY STYLE POT</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/14.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">VITAMIN C CHEWABLE TABLETS</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/15.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">DREAMY BEAUTY CAPSULES</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/16.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">CALCIUM/IRON/ZINC CHEWABLE TABLET</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/17.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">VIGOR BOOST POWDERED SNAKE</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/18.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">WHITE TEA NOURISHING SOAP</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/19.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">NUTRI RICH</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/20.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">BAMBOO CHARCOAL SOAP</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/21.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">BLACKTEA & TREMELLA DRINK MIX</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/22.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">ENERGY TABLETS</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/23.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/"></a>COFEE</h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/24.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/"></a>ARTHRO SUPREVIVER</h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/25.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">MILITARIS CAPSULES</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/26.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">VINTAGE LIQUOR</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/27.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">VITAMIN DRINK</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/28.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">BRIGHTENING CONDITIONER</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/29.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">WHITE TEA DANDRUFF CONTROL SHAMPOO</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/30.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">HERBAL MOISTURIZING BODYWASH</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/31.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">CLEANSING TREATMENT 2 IN 1 SHAMPOO</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/32.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">INSTANT HAND SANITIZER</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/33.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">ROSE MOISTURIZING BODY WASH</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/34.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">REJUVENATING FACIAL CLEANER</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/35.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">MIRACLE ENCOUNTER</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/36.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">PASSION ENCOUNTER</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/37.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">ANTI-MOSQUITO SPRAY</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/38.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">WHITE CHOCOLATE</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/39.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">BROWN CHOCOLATE</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/40.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">ENTR NOUS FOUR SEASONS OF GLAMOUR</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/41.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">ARTEMISIN TOOTHPASE</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/42.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">ARTEMISIN MOUTHWASH</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/43.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">ARTEMISIN SHAMPOO</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/44.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">ARTEMISIN CONDITIONER</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/45.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">ARTEMISIN BODYWASH</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/46.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">ARTEMISIN WOMEN ROLL ON</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/47.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">ARTEMISIN MEN ROLL ON</a></h3>
          </div>
          <div class="media-29101">
            <a href="https://www.instagram.com/lyn_longrich/"><img src="images/48.png" alt="Image" class="img-fluid"></a>
            <h3><a href="https://www.instagram.com/lyn_longrich/">ARTEMISIN LAUNDRY DETERGENT</a></h3>
          </div>
        </div>

      </div>
    </div>
    <footer class="site-footer">
      <div class="container">


          <div class="colophon">Copyright 2022 LYNLONGRICH. Designed by <a href="http://pyeramid.digital/" title="http://pyeramid.digital/"target="_blank">pyeramid</a>. All rights reserved.</div>

      </div>
      <!-- .container -->
  </footer>

  </div>
    
    

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>